body {
	background-color:black;
	color:cornsilk;
	font-family:Verdana;
	margin:10px;
	padding:10px;
}
h1 {
	font-size:1.3em;
}
h2 {
	font-size:1.2em;
}
p {
	font-size:1em;
	margin-top: 10px;
}
input {
	font-size:1.1em;
	padding:15px;
	font-family: Verdana;
}
.lds-ellipsis {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: cyan;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

#processing {
	position:absolute;
	top:0px;
	left:0px;
	font-size:1.5em;
	font-family: Helvetica;
	display:none;
	padding:20px;
}
#ci {
	font-size:1.3em;
}
.button {
	font-family:Verdana;
	font-size:0.9em;
	margin-top:7px;
	padding:10px;
	border-radius:7px;
	background: steelblue;
	color:blanchedalmond;
}
.button:hover {
	animation: btn_hover 0.6s;
	animation-fill-mode: forwards;
}
.button2 {
	font-family:Verdana;
	font-size:1.1em;
	margin-top:10px;
	padding:15px;
	border-radius:7px;
	background:steelblue;
	color:blanchedalmond;
}
.button2:hover {
	animation: btn_hover 0.6s;
	animation-fill-mode: forwards;
}
@keyframes btn_hover{
	0% {
		box-shadow: 0px 0px 0px 0px cornsilk;
	}
	100% {
		box-shadow: 10px 10px 30px 0px cornsilk;
	}
}
#select {
	display:none;
}
#sample {
	margin-top:30px;
	display:none;
}

@media only screen and (max-width: 600px) {
    p{
		font-size:1em;
		margin-top: 5px;
	}
}
